 <style>
                    body {
          background-color
: rgb(186, 201, 255);
}  
h1 {color: rgb(68, 1, 115);
}

h2 {color: rgb(68, 1, 115);
}

h3{color: rgb(68, 1, 115);
}
p {
color: rgb(77, 0, 201);
}
            </style>
